/* Font */
@font-face {
    font-family: 'Anton';
    src: url('Anton-Regular.ttf') format('truetype');
}

/* -------------- */
/* MAIN PAGE CODE */
/*--------------- */

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Anton';
    font-size: 4rem;
    color: #0025cc;
}

button {
    height: 5rem;
    width: 13rem;
    border: none;
    background-color: #1f48ff;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 3rem;
}

button:hover {
    background-color: #0025cc;
}

.button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}


/* Shapes for beautification */

/* top left large rectangle*/
#R1 {
    position: absolute;
    background-color: #0025cc;
    height: 13rem;
    width: 22rem;
    top: 0vw;
    left: 0vw;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

/* bottom right large rect*/
#R2 {
    position: absolute;
    background-color: #0025cc;
    height: 13rem;
    width: 22rem;
    bottom: 7vw;
    right: 0vw;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

/*top left small rect*/
#R3 {
    position: absolute;
    background-color: #1f48ff;
    height: 12rem;
    width: 12rem;
    top: 7vw;
    left: 0vw;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

/* bottom right small rectangle*/
#R4 {
    position: absolute;
    background-color: #1f48ff;
    height: 12rem;
    width: 15rem;
    bottom: 0vw;
    right: 0vw;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

/*top right longer line*/
#R5 {
    position: absolute;
    background-color: #0025cc;
    height: 0.5rem;
    width: 30rem;
    right: 0;
    top: 5rem;
}

/* top right shorter line*/
#R6 {
    position: absolute;
    background-color: #0025cc;
    height: 0.25rem;
    width: 23rem;
    right: 0;
    top: 6.5rem;
}

/* bottom left longer line*/
#R7{
    position: absolute;
    background-color: #0025cc;
    height: 0.5rem;
    width: 30rem;
    left: 0;
    bottom: 5rem;
}

/* bottom left shorter line */
#R8{
    position: absolute;
    background-color: #0025cc;
    height: 0.25rem;
    width: 23rem;
    left: 0;
    bottom: 6.5rem;
}

/* bottom left circle
One is blue and has a white smaller circle on top to make it look hollow
*/
#C1{/*blue circle*/
    position: absolute;
    height: 4rem;
    width: 2rem;
    border-radius: 0 2rem 2rem 0;
    background-color: #0025cc;
    left:0;
    bottom: 8rem;
}

#C3{ /* white circle*/
    position: absolute;
    height: 2rem;
    width: 1rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #ffffff;
    left:0;
    bottom: 9rem;
}

/* top right circle
One is blue and has a white smaller circle on top to make it look hollow
*/
#C2{/* blue circle*/
    position: absolute;
    height: 4rem;
    width: 2rem;
    border-radius: 2rem 0 0 2rem;
    background-color: #0025cc;
    right:0;
    top: 8rem;
}

#C4{/* white circle */
    position: absolute;
    height: 2rem;
    width: 1rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #ffffff;
    right:0;
    top: 9rem;
}

/*  <---------------------END OF MAIN PAGE------------------> */


/* --------------
   |FILTERS PAGE|
   -------------- */

#C5 {
    position: absolute;
    height: 10rem;
    width: 5rem;
    border-radius: 5rem 0 0 5rem;
    background-color: #0025cc;
    right:0;
    top: 0;
}

#C6 {
    position: absolute;
    height: 5rem;
    width: 2.5rem;
    border-radius: 2.5rem 0 0 2.5rem;
    background-color: #ffffff;
    right:0;
    top: 2.5rem;
}

#C7 {
    position: absolute;
    height: 10rem;
    width: 5rem;
    border-radius: 0 5rem 5rem 0;
    background-color: #0025cc;
    left:0;
    bottom: 0;
}

#C8 {
    position: absolute;
    height: 5rem;
    width: 2.5rem;
    border-radius: 0 2.5rem 2.5rem 0;
    background-color: #ffffff;
    left:0;
    bottom: 2.5rem;
}

#R9 {
    position: absolute;
    background-color: #0025cc;
    height: 24rem;
    width: 0.5rem;
    top: 0;
    left: 2rem;
}

#R10 {
    position: absolute;
    background-color: #0025cc;
    height: 20rem;
    width: 0.25rem;
    top: 0;
    left: 2.75rem;
}

#R11 {
    position: absolute;
    background-color: #0025cc;
    height: 24rem;
    width: 0.5rem;
    bottom: 0;
    right: 2rem;
}

#R12 {
    position: absolute;
    background-color: #0025cc;
    height: 20rem;
    width: 0.25rem;
    bottom: 0;
    right: 2.75rem;
}